DATABASE_URL=postgresql://urlshort:urlshort@localhost:5433/url_shortener
REDIS_URL=redis://localhost:6380
BASE_URL=http://localhost:3001
PORT=3001
LOKI_URL=http://localhost:3200
NEXT_PUBLIC_API_URL=http://localhost:3001
